In [1]:
import numpy as np
import pandas as pd

In [27]:
dist_list = []
for i in range(50):
    dists = pd.read_csv(f'/mnt/scratchc/ghlab/toby/in_silico_perturb_data/gene_embs/kf0/multi_cell/in_silico_delete_cnot1_{i}_dict_1Kbatch_euclidean_dists.csv', index_col=0)
    dist_list.append(dists)

full_dists=pd.concat(dist_list, axis=0)
combined_mean_dists = full_dists.groupby('token')['euclidean_distance'].mean().reset_index()
ns = full_dists.groupby('token').count().reset_index()
combined_mean_dists['n'] = ns['euclidean_distance']
combined_mean_dists.to_csv('/mnt/scratchc/ghlab/toby/in_silico_perturb_data/gene_embs/kf0/multi_cell/combined_dists.csv')

      euclidean_distance  token
595            13.253016   4875
2034            6.035371   4875
1069           16.135100   4875
364             4.546161   4875
758            25.927237   4875
375             2.123960   4875
1775            7.212667   4875
802            16.887250   4875
1086           16.223661   4875
1808           11.634410   4875
855             7.384304   4875

      token  euclidean_distance
3911   4875                  11